{% extends 'base.html' %}

{% block title %}reply contact{% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="shadow-none mb-4" bg-light>
		 <h4>Reply Form</h4>
		 <form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
		 	<button class="btn btn-info btn-block">Submit</button>
		 </form>
		</div> 
	</div>
</div>

{% endblock %}