{% extends 'base.html' %}

{% block title %}Delete contact{% endblock %}


{% block content %}

<form method="POST">
	{% csrf_token%}
	<h3>Are you sure</h3>
	<button class="btn btn-danger">Yes</button>
	<a class="btn btn-info" href="{% url 'contactapp:contacts' %}">No</a>
</form>
{% endblock %}