{% extends 'base.html' %}

{% block title %}Contact List{% endblock %}


{% block content %}
<a href="{% url 'contactapp:contactcreate' %}"><span style="font-size: 40px;" class="fa fa-plus-circle"></span></a>
<h3>Contact List</h3>
<table class="table">
	<thead>
		<tr>
			<th>SN</th>
			<th>Name</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Address</th>
			<th>Image</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for contact in allcontacts %}
		
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{contact.name}}</td>
			<td>{{contact.mobile1}}</td>
			<td>{{contact.email1}}</td>
			<td>{{contact.address}}</td>
			<td><img src="{{contact.image.url}}" width="75"></td>
			<td>
				<a class="btn btn-info" href="{% url 'contactapp:contactupdate' contact.pk %}"><i class="fa fa-pencil"></i></a>
				<a class="btn btn-danger" href="{% url 'contactapp:contactdelete' contact.pk %}"><i class="fa fa-trash"></i></a>
				<a class="btn btn-success" href="{% url 'contactapp:sendemail' contact.email1 %}"><i class="fa fa-envelope"></i></a>

			</td>
		</tr>
		{% endfor %}
	
	</tbody>
</table>

<h3>News List</h3>
<table class="table">
	<thead>
		<tr>
			<th>SN</th>
			<th>Name</th>
			<th>Mobile</th>
			<th>Email</th>
			<th>Address</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		{% for news in allnews %}
		
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{news.title}}</td>
			<td>{{news.mobile1}}</td>
			<td>{{news.email1}}</td>
			<td>{{news.address}}</td>
			<td><img src="{{news.title_photo}}" width="75"></td>
			
		</tr>
		{% endfor %}
	
	</tbody>
</table>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready( function () {
	    $('.table').DataTable();
	} );
</script>

{% endblock %}

