{% extends 'base.html' %}

{% block title %}Search result{% endblock %}


{% block content %}

<h3>Search items</h3>

{% for res in results %}

<li>{{res.name}}</li>
<img src="{{res.image.url}}" width="400">

{% endfor %}

{% endblock %}